/* Channels */

.channel-root {
  position: relative;
}

.channel-root .suggestion-container {
  border: 1px solid var(--bearer-slack-share-icon-color, #dcdcdc);
}

.channel-root .suggestion-container {
  position: absolute;
  background: white;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  z-index: 1;
  overflow: auto;
}

.channel-root ul {
  top: 1px;
  left: 1px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  overflow: auto;
  padding: 5px 10px;
}

.channel-root ul > li {
  padding: 6px 6px;
  margin: 0;
  list-style-type: none;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
}

.channel-root ul > li.selected {
  background: #f8f9ff;
}

.channel-root ul > li > button {
  opacity: 0;
  margin-left: 10px;
}

.channel-root ul > li > button:focus {
  opacity: 1;
}

.channel-root input {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1;
  letter-spacing: normal;
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  border: 1px solid var(--bearer-slack-share-icon-color, #bfc4d5);
  padding: calc(0.5em + 1px) 1em calc(0.5em + 1px) 3em;
  border-radius: 2px;
  width: 100%;
  text-overflow: ellipsis;
}

.search-icon {
  position: absolute;
  top: 0.75em;
  left: 1em;
  display: inline-block;
}

channel-lock {
  display: inline-block;
  vertical-align: middle;
}
