<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <link href="https://cdn.rawgit.com/tabler/tabler/dev/dist/assets/css/tabler.css" rel="stylesheet" />
  <title>NewSlack</title>
  <script src="/build/localhost.js"></script>
</head>

<body>
  <div class="page">
    <div class="page-main">
      <div class="header py-4">
        <div class="container">
          <div class="d-flex">
            <a class="header-brand" href="#">
              <img src="https://app.bearer.sh/static/media/logo.5b35e2ab.svg" class="header-brand-img" alt="Bearer Logo">
            </a>
            <div class="d-flex order-lg-2 ml-auto">
            </div>
         </div>
        </div>
      </div>
      <div class="my-3 my-md-5">
        <div class="container">
          <div class="page-header">
            <h1 class="page-title">Share on Slack</h1>
          </div>
          <div class="card ">
            <div class="card-header">
              <h1 class="card-title">Setup</h1>
            </div>
            <div class="card-body">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title">Display</h2>
                </div>
                <div class="card-body">
                  <setup-display>
                  </setup-display>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title">Action</h2>
                </div>
                <div class="card-body">
                  <setup-action>
                  </setup-action>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h1 class="card-title">Connect slack</h1>
            </div>
            <div class="card-body">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title">Display</h2>
                </div>
                <div class="card-body">
                  <connect-display setup-id="fc3c96cde6760fd99fa9209b3b2edeab">
                  </connect-display>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <h2 class="card-title">Action</h2>
                </div>
                <div class="card-body">
                  <connect-action auth-id="something-else" setup-id="fc3c96cde6760fd99fa9209b3b2edeab">
                  </connect-action>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h1 class="card-title">Share on Slack</h1>
            </div>
            <div class="card-body">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title">Action</h2>
                </div>
                <div class="card-body row">
                  <div class="col">
                    <channel-action channel-ref-id="hello-world" auth-id="something-else">
                    </channel-action>
                  </div>
                  <div class="col">
                    <feature-action channel-ref-id="hello-world" auth-id="something-else" setup-id="fc3c96cde6760fd99fa9209b3b2edeab">
                    </feature-action>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('bearer|YOU_SCENARIO_ID|setup|saved', function (e) {
      console.log(e)
    })
  </script>
</body>

</html>
